{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block extracss %}
<link href="{% static 'bootstrap/css/carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block customcss %}
    <style>
        body {margin-top: 40px;}
    </style>
{% endblock %}

{% block rootcontainer %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color:#777; color:white">
      <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">FYP Urinalysis</h1>
                <br>
                <p class="text-center">
                  Demo Logging App
                </p>
                <p class="text-center">
                  By: Budi Ryan, Jeffry Wicaksana, Christian Edwin Pranata
                </p>
                <button type="button" class="btn btn-primary center-block btn-lg"
                    onclick="location.href=&quot;{% url 'login' %}&quot;;">
                    Log In</button>
            </div>
            <!-- <div class="col-md-5">
                <a href="{% static 'images/screenshots/glucosetracker_dashboard_001.png' %}" class="thumbnail">
                    <img src="{% static 'images/screenshots/glucosetracker_dashboard_001.png' %}">
                </a>
                <div class="addthis_sharing_toolbox text-center"></div>
            </div> -->
        </div>
      </div>
    </div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'bootstrap/js/holder.js' %}"></script>
{% endblock %}

{% block extrajsexternal %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ addthis_publisher_id }}"></script>
{% endblock %}
